.start-button {
    display: block;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 30px;
}

.pi-approximate {
    margin-left: 255px;
}

.pi-estimate {
    margin: -10px 0 0 259px;
}

.point-tally {
    margin-top: 20px;
}

.points-in-square {
    margin-left: 62px;
}

.points-in-cirlce {
    margin-left: 268px;
    position: absolute;
}

.points-in-cirlce .count {
    position: absolute;
    right: -41px;
}
