.leader-board {
    margin-left: 50%;
}

.milliseconds.error {
    border: 2px solid red;
}

.point-tally {
    margin-top: 20px;
    position: relative;
}

.points-in-square {
    float: left;
    margin-left: 18%;
}

.points-in-cirlce {
    float: right;
    margin-right: 18%;
}

.count {
    text-align: center;
}

.arrow {
    position: absolute;
    font-size: 42px;
    top: -6px;
    left: -44px;
    font-weight: 100;
    transform: rotate(630deg);
    display: inline-block;
}

.milliseconds-cont {
    display: block;
    margin-top: 6px;
}

.prompt {
    display: inline-block;
}
