.start-button {
    border: none;
    border-radius: 4px;
    float: left;
    font-size: 20px;
    margin-left: 41%;
    margin-top: 14px;
}

.leader-board {
    margin-left: 50%;
}

.milliseconds.error {
    border: 2px solid red;
}

.point-tally {
    margin-top: 20px;
    position: relative;
}

.points-in-square {
    float: left;
    margin-left: 18%;
}

.points-in-cirlce {
    float: right;
    margin-right: 18%;
}

.count {
    text-align: center;
}
